<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Convert\Preorder\Api\PlacePreorderInterface" type="Convert\Preorder\Service\PlacePreorderService"/>
    <preference for="Convert\Preorder\Api\PlacePreorderResponseInterface" type="Convert\Preorder\Model\PlaceOrderResponse"/>

    <type name="Convert\Preorder\Service\PlacePreorderService">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Convert\Preorder\Block\Modal">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Convert\Preorder\Model\Method\PreorderPaymentFacade">
        <arguments>
            <argument name="code" xsi:type="const">Convert\Preorder\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">PreorderPaymentValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">Magento\Payment\Gateway\Validator\ValidatorPool</argument>
        </arguments>
    </type>

    <virtualType name="PreorderPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Convert\Preorder\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="PreorderPaymentConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PreorderPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="PreorderPaymentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PreorderPaymentConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
</config>
