<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="Convert_Preorder::hide_preorder_payment_if_module_is_disabled"
                  instance="Convert\Preorder\Observer\HidePreorderPaymentIfModuleIsDisabled"/>
    </event>
</config>
