<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="physicalstock" frontName="physicalstock">
            <module name="Convert_PhysicalStock"/>
        </route>
    </router>
</config>
